figcaption:hover figure{
background-color: #ff6d0d;
border-radius: 10px;
color:white;
margin:0;
}
figcaption{
border-radius: 10px;
margin:0 10px;
}
figure{
padding:10px;
font-size: 25px;
text-align: center;
transition: 0.5s;
color:black;
border-radius: 10px;
}